
@{
    ViewData["Title"] = "Require Email Confirm";
}

@if(TempData["Message"] != null)
{
    <div class="alert alert-success text-center">
        <h2>
           <strong>@TempData["Message"]</strong>
	    </h2>
    
   </div>

}

